* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-primary: #fffaf5;
}

/* =========================common======================== */

a {
    text-decoration: none;
}

.heading__top {
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

.heading {
    color: #000958;
    font-family: Sora;
    font-size: 5.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 119.231%;
}

.desc {
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 187.5%;
}

/* =========================header======================== */

.header {
    height: 100vh;
    background: var(--bg-primary);
}

.nav {
    padding-top: 26px;
    margin: 0 135px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    gap: 0 36px;
}

.logo-box {
    display: flex;
    align-items: center;
    color: #000958;
    font-family: Sora;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 100% */
}

.logo {
    margin-right: 8px;
}

.nav__item,
.nav__btn {
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 100%;
}

.nav__item:hover {
    color: #000958;
    font-weight: 600;
}

.nav__btn {
    padding: 18px 31px;
    font-weight: 600;
    border-radius: 99px;
    border: 1px solid #000958;
}

.nav__btn:hover {
    background: #000958;
    color: #fffaf5;
}

.header__container {
    margin: 68px 117px 0 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    position: relative;
    width: 609px;
    height: 582px;
}

.header__frame {
    box-sizing: content-box;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 56px;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    border: 3px solid #fff;
    background: #fe997b;
}

.header__frame:last-of-type {
    position: absolute;
    top: 302px;
    left: 423px;
    width: 186px;
    height: 244px;
    border: 2px solid #fffefe;
    background: #f4d1d3;
}

.header__frame:last-of-type .header__img {
    position: absolute;
    bottom: 0;
}

.header__decor {
    position: absolute;
    top: 17px;
    right: 122px;
}

.header__decor:last-of-type {
    left: 0;
    top: 247px;
}

.header__right {
    width: 36%;
}

.header__heading {
    color: #000958;
    font-family: Sora;
    font-size: 6.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: 115.152%;
}

.header__desc {
    margin-top: 24px;
    color: #656689;
    font-weight: 400;
    line-height: 187.5%;
}

.header__book {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.book-box {
    padding: 22px 30px;
    display: flex;
    align-items: center;
    background: #ff5b2e;
    border-radius: 99px;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.book-box:hover {
    opacity: 0.9;
    .circle {
        transform: translateX(7px);
    }
}

.circle {
    display: flex;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s ease;
}

.caretRight {
    margin: auto;
}

.book__btn {
    color: #fff;
    line-height: 100%;
    font-weight: 600;
}

.book__schedule {
    margin-left: 24px;
    color: #000958;
    text-decoration: underline;
    font-weight: 500;
}

.header__card {
    padding: 18px 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 99;
    position: absolute;
    bottom: 0;
    right: 171px;
    background: #fff;
    border-radius: 10px;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    width: 250px;
    height: 156px;
}

.header__card__item {
    display: flex;
    align-items: flex-start;
}

.card__line {
    margin-top: 6px;
    width: 118px;
    height: 4px;
    border-radius: 99px;
    opacity: 0.08;
    background: #000958;
}

.card__line:last-child {
    width: 39px;
}

.card__item__box {
    margin-right: 10px;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #fec23f;
}

.header__card__item:last-child .card__item__box {
    background: #6fa5d5;
}

.card__separate {
    width: 222px;
    height: 2px;
    border-radius: 99px;
    background: #f2f2f2;
}

/* =========================about======================== */

.about {
    padding: 130px 135px 53px;
    background: var(--bg-primary);
    height: 665px;
}

.about__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__left {
    width: 40.7%;
    align-self: center;
    padding-bottom: 80px;
}

.about__heading {
    margin: 15px 0 24px;
}

.about__proof {
    margin-top: 54px;
    display: grid;
    grid-template: auto auto / 1fr 1fr;
    row-gap: 34px;
}

.proof__item {
    display: flex;
    align-items: center;
}

.proof__content {
    margin-left: 10px;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 100%;
}

.about__right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 44.2%;
}

.about__imgBox {
    position: absolute;
    left: 96px;
    width: 494px;
}

.about__imgBox__bottom {
    display: flex;
    z-index: 2;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}

.about__img {
    z-index: 1;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
}

.about__decor {
    z-index: 0;
    position: absolute;
    bottom: 307px;
    right: -50.36px;
}

.about__yearBox {
    padding: 31px 26px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 238px;
    left: 0;
    z-index: 99;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.numberYears {
    color: #fff;
    font-family: Sora;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.about__yearBox__desc {
    margin-top: 14px;
    color: #c6f4f9;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 142.857%;
}

.catToe {
    position: absolute;
    top: -39px;
    left: 86px;
}
