* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

:root {
    --bg-primary: #fffaf5;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

/* =========================Common======================== */
.clip-text {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.heading__top {
    margin-bottom: 15px;
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

.heading {
    color: #000958;
    font-family: Sora;
    font-size: 5.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 119.231%;
}

.desc {
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 187.5%;
}

.btn {
    display: inline-block;
    padding: 20px 40px;
    border: 1px solid #ff5b2e;
    border-radius: 99px;
    color: #ff5b2e;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 100%;
    transition: all 0.3s ease;
}

.btn:hover {
    color: #fff;
    background: #ff5b2e;
}
/* =========================header======================== */

.header {
    background: var(--bg-primary);
    top: 0;
    position: sticky;
    z-index: 1000; /* Đảm bảo nó nằm trên các phần tử khác */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Tạo hiệu ứng đổ bóng */
}

.header__inner {
    padding: 26px 0;
    display: flex;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__item {
    padding: 8px 18px;
}

.navbar__item:hover .navbar__link {
    color: #000958;
}

.navbar__link {
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 100%;
}

.header__action {
    display: flex;
    align-items: center;
}

.header__action__link {
    color: #000958;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 100%;
}

.header__action__link.btn {
    margin-left: 10px;
    padding: 18px 31px;
    border-color: rgba(0, 9, 88, 0.7);
    transition: all 0.3s ease;
}

.header__action__link.btn:hover {
    background: #000958;
    color: #fff;
}

/* =========================Hero======================== */

.hero {
    margin-top: 74px;
}

.hero__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 582px;
    align-items: center;
}

.hero__content {
    width: 43%;
}

.hero__desc {
    margin-top: 24px;
    margin-bottom: 38px;
}

.btn.hero__btn {
    display: inline-flex;
    align-items: center;
    padding: 22px 30px;
    background: #ff5b2e;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 100%;
}

.hero__heading {
    font-size: 6.6rem;
}

.circle {
    margin-left: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.hero__btn:hover {
    opacity: 0.9;
    .circle {
        transform: translateX(10px);
    }
}

.hero__link {
    padding: 22px 30px;
    margin-left: 2px;
    color: #000958;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 100%;
    transform: opacity 0.3s ease;
}

.hero__link:hover {
    opacity: 0.9;
}

.hero__img-wrap {
    position: absolute;
    top: 0;
    left: 0;
}

.hero__img {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 388px;
    height: 488px;
    background: #fe997b;
    border-radius: 16px;
    border: 3px solid #fff;
}

.hero__decor {
    z-index: 0;
    position: absolute;
    left: -58px;
    top: 247.5px;
}

.hero__decor:last-child {
    top: 17px;
    left: 376px;
}

.hero__img__dog {
    width: 186px;
    height: 244px;
    border-radius: 16px;
    background: #faa7ad;
    top: 302px;
    left: 365px;
}

.hero__card {
    padding: 18px 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 426px;
    left: 129.5px;
    z-index: 3;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero__card__item {
    display: flex;
}

.card__img {
    margin-right: 9px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #fec23f;
}

.card__img2 {
    background: #6597c2;
}

.card__line {
    margin-top: 7px;
    width: 118px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.card__line:last-child {
    margin-top: 6px;
    width: 39px;
}

.hero__separate {
    width: 222px;
    height: 2px;
    background: #f2f2f2;
}

/* =========================About======================== */

.about {
    margin-top: 77px;
}

.about__inner {
    padding-top: 53px;
    display: grid;
    grid-template: auto auto / 1fr 1fr;
    row-gap: 130px;
    align-items: center;
}

.about__heading {
    max-width: 446px;
}

.about__desc {
    margin-top: 24px;
    max-width: 431px;
}

.about__check-list {
    margin-top: 57px;
    display: grid;
    grid-template: auto auto / auto auto;
    justify-content: start;
    gap: 40px 36px;
}

.about__check-item {
    padding-left: 34px;
    position: relative;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 100%;
}

.about__check-item::before {
    position: absolute;
    top: -3px;
    left: 0;
    content: url(/assets/img/stick.svg);
}

.about__media {
    position: relative;
}

.about__card {
    top: 165px;
    position: absolute;
    padding: 31px 26px;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__card--title {
    color: #fff;
    font-family: Sora;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.about__card-desc {
    margin-top: 14px;
    color: #c6f4f9;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 142.857%;
}

.about__card-decor {
    position: absolute;
    top: -39px;
    right: -33px;
}

.about__img-wrap {
    height: 559px;
}

.about__img {
    width: 450px;
    position: absolute;
    bottom: 0;
    left: 115px;
    display: block;
    margin: 0 auto;
}

.about__img-wrap::after {
    margin-left: 92px;
    position: absolute;
    bottom: 0;
    z-index: -1;
    content: "";
    display: inline-block;
    width: 494px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}

.about__img-wrap2 {
    position: relative;
    width: 500px;
    height: 571px;
}

.about__img2 {
    position: absolute;
    top: 24px;
    left: 0;
    border: 2px solid #fff;
    border-radius: 18px;
    background: #c3e0f9;
    box-shadow: 0px 3px 63px 0px rgba(153, 183, 208, 0.59);
}

.about__decor2 {
    position: absolute;
}

.about__decor2:nth-of-type(2) {
    top: 28.5px;
    left: 388px;
}

.about__decor2:nth-of-type(3) {
    top: 0;
    left: 426px;
}

.about__decor2:nth-of-type(4) {
    top: 49px;
    left: 425px;
}

.about__decor2:nth-of-type(5) {
    top: 284px;
    left: 468px;
}

.about__decor2:nth-of-type(6) {
    top: 352px;
    left: 427px;
}

.about__decor2:last-of-type {
    bottom: 0;
    right: 0;
}

.about__desc2 {
    max-width: 511px;
    margin: 24px 0 52px;
}

.tab__list {
    position: relative;
    display: inline-flex;
}

.tab__list::after,
.tab__item-active::after {
    position: absolute;
    bottom: -14px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    opacity: 0.07;
    background: #ff5b2e;
    border-radius: 2px;
}

.tab__item-active::after {
    opacity: 1;
}

.tab__item {
    position: relative;
    display: flex;
    align-items: center;
}

.tab__item + .tab__item {
    margin-left: 56px;
}

.tab__title {
    margin-left: 10px;
    color: #48496a;
    font-family: Sora;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

.tab__icon {
    width: 25px;
}

.tab__content-desc {
    margin-top: 50px;
    max-width: 391px;
    font-size: 1.4rem;
}

.tab__content-more {
    display: inline-block;
    padding-top: 32px;
    position: relative;
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 100%;
}

.tab__content-more::after {
    visibility: hidden;
    position: absolute;
    bottom: -5px;
    left: 0;
    content: "";
    display: inline-block;
    width: 86px;
    height: 1.5px;
    background: #ff5d31;
    transition: visibility 0.3s ease;
}

.tab__content-more:hover::after {
    visibility: visible;
}

.tab__content-item {
    display: none;
}

.tab__content--active {
    display: block;
}

/* ==============================Services============================ */

.services {
    margin-top: 130px;
    background: #fff6ed;
    padding: 68px 0 139px;
}

.service__heading__top,
.service__heading {
    text-align: center;
}

.service__content {
    margin-top: 71px;
    display: flex;
}

.service__column {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.service__media {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex-grow: 1;
}

.service__media__btn {
    position: absolute;
    bottom: -34px;
    display: inline-block;
}

.service__img {
    width: 447px;
    z-index: 1;
}

.service__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
}

.service__img-wrap::after {
    z-index: 0;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    display: inline-block;
    content: "";
    width: 417px;
    height: 300px;
    background: #96ecf6;
}

.service__item {
    padding: 30px 22px 30px 28px;
    width: 294px;
    height: 208px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}

.service__item__heading {
    padding-left: 12px;
    position: relative;
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 100%;
}

.service__item__heading::before {
    position: absolute;
    left: 0;
    content: "";
    display: inline-block;
    width: 2px;
    height: 22px;
    border-radius: 99px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.service__item__desc {
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 171.429%;
}

.service__item__more {
    margin-top: 24px;
    display: flex;
    align-items: center;
    column-gap: 6px;
    color: #34396a;
    font-family: Sora;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.service__item__desc.clip-text {
    --line-clamp: 3;
}

/* =================================Services=========================== */

.staff {
    text-align: center;
    margin-top: 130px;
}

.staff__list {
    margin-top: 59px;
    display: flex;
    justify-content: center;
    column-gap: 67px;
}

.staff__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.staff__img {
    border-radius: 129.5px;
    display: inline-flex;
}

.staff__img-wrap {
    z-index: 0;
    position: relative;
}

.staff__img-wrap::before,
.staff__img-wrap::after {
    z-index: -1;
    position: absolute;
    content: "";
    display: inline-block;
}

.staff__img-wrap::after {
    width: 234px;
    height: 94%;
    border-radius: 129.5px;
    bottom: 4px;
    left: 0;
}

.staff__item:nth-child(1) .staff__img-wrap::after {
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.staff__item:nth-child(1) .staff__img-wrap::before {
    content: url(/assets/img/staff__decor1.svg);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.staff__item:nth-child(2) .staff__img-wrap::after {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff__item:nth-child(2) .staff__img-wrap::before {
    content: url(/assets/img/staff__decor2.svg);
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
}

.staff__item:nth-child(3) .staff__img-wrap::after {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff__item:nth-child(3) .staff__img-wrap::before {
    content: url(/assets/img/staff__decor3.svg);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.staff__item:nth-child(4) .staff__img-wrap::after {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff__item:nth-child(4) .staff__img-wrap::before {
    content: url(/assets/img/staff__decor4.svg);
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
}

.staff__position {
    margin-top: 29px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 100%;
}

.staff__name {
    margin-top: 14px;
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 100%;
}

.staff__btn {
    margin-top: 48px;
}

/* =================================Choice=========================== */

.choice {
    margin-top: 130px;
    padding: 86px 0;
    background: #fff6ed;
}

.choice__top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice__desc {
    margin: 24px auto 0;
    max-width: 709px;
}

.choice__switch-wrap {
    margin-top: 38px;
    position: relative;
    display: flex;
}

.choice__save {
    position: absolute;
    top: -14px;
    right: -114px;
}

.choice__switch-input {
    display: none;
}

.choice__switch-label {
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 100%;
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    width: 276px;
    height: 56px;
    border-radius: 31px;
    border: 1px solid rgba(255, 91, 46, 0.6);
}

.choice__switch-label::before {
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
    content: "";
    width: 131px;
    height: 56px;
    border-radius: 31px;
    background: #ff5b2e;
    transition: all 0.3s ease;
}

.choice__switch-value:first-child {
    color: #ff5b2e;
    transition: all 0.3s ease;
}

.choice__switch-value:last-child {
    color: #fff;
    transition: all 0.3s ease;
}

.choice__list {
    margin-top: 56px;
    width: 85%;
    column-gap: 44px;
}

.choice__list__year {
    display: flex;
}

.choice__list__month {
    display: none;
}

.choice__switch:has(.choice__switch-input:checked) {
    .choice__switch-value:first-child {
        color: #fff;
    }

    .choice__switch-value:last-child {
        color: #ff5b2e;
    }

    .choice__switch-label::before {
        right: 131px;
        width: 145px;
    }
}

.choice__switch-wrap:has(.choice__switch-input:checked) ~ .choice__list__year {
    display: none;
}

.choice__switch-wrap:has(.choice__switch-input:checked) ~ .choice__list__month {
    display: flex;
}

.choice__item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 20px;
    background: #fff;
    padding: 30px 28px;
}

.choice__item__option {
    color: #ff5b2e;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 100%;
}

.choice__item__heading {
    margin-top: 8px;
    color: #3f4065;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 100%;
}

.choice__item__price {
    margin-top: 24px;
    color: #000958;
    font-family: Sora;
    font-size: 3.3rem;
    font-weight: 700;
}

.choice__btn {
    cursor: pointer;
    margin-top: 22px;
    width: 100%;
    background: #fff;
    padding: 14px 0;
}

.choice__service-list {
    margin-top: 24px;
    padding-left: 26px;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}

.choice__service-item {
    position: relative;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 100%;
}

.choice__service-item::before {
    position: absolute;
    left: -26px;
    top: 0;
    content: url(../img/Check.svg);
}

/* =================================Reviews=========================== */

.review {
    margin-top: 53px;
}

.review__inner {
    position: relative;
    padding: 0 82px;
}

.arrow-link {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    --arrow-circle: #ffd1c4;
    --arrow-bg: none;
    --arrow-icon: #ff5b2e;
}

.arrow-link + .arrow-link {
    right: 0;
    left: auto;
}

.arrow-link:hover {
    --arrow-bg: #ff5b2e;
    --arrow-icon: #ffd1c4;
    --arrow-circle: #ff5b2e;
}

.arrow-right {
    rotate: 180deg;
}

.review__item-content {
    width: 56%;
}

.review__list {
    overflow: hidden;
    display: flex;
}

.review__item {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 115px;
}

.review__comment {
    margin-top: 24px;
    color: #000;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 155.556%;
}

.review__name {
    display: inline-block;
    margin-top: 34px;
    position: relative;
    padding-left: 28px;
    color: #282828;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 100%;
}

.review__name::before {
    position: absolute;
    left: 0;
    top: 8px;
    content: "";
    display: inline-block;
    width: 20px;
    height: 2px;
    background: #000;
}

.review__img {
    width: 274px;
    border-radius: 137px;
}

.review__media-wrap {
    position: relative;
}

.review__media-wrap::before {
    z-index: -1;
    position: absolute;
    left: 0;
    bottom: 4px;
    display: inline-block;
    content: "";
    width: 100%;
    background: #ffda54;
    height: 350px;
    border-radius: 137px;
}

.review__order {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.review__order-circle {
    cursor: pointer;
    width: 8px;
    height: 8px;
    border: 1px solid #ff5b2e;
    border-radius: 4px;
}

.review__order-circle:hover {
    background: #ff5b2e;
}

.review__order--active {
    width: 24px;
    background: #ff5b2e;
}

/* =================================Blogs=========================== */

.blog {
    margin-top: 130px;
}

.blog__top {
    display: flex;
    justify-content: space-between;
}

.blog__desc-wrap {
    width: 350px;
}

.blog__list {
    margin-top: 54px;
    display: flex;
    column-gap: 48px;
}

.blog__item {
    flex: 1;
    min-width: 358px;
}

.blog__item__link:nth-child(1) .blog__media {
    background: #90ccff;
}

.blog__item__link:nth-child(2) .blog__media {
    background: #ff997e;
}

.blog__item__link:nth-child(3) .blog__media {
    background: #5bd6e2;
}

.blog__date {
    color: #fff;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 400;
}

.blog__img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 322px;
    height: 296px;
    object-fit: cover;
}
.blog__media {
    padding: 24px 0 0 36px;
    position: relative;
    width: 358px;
    height: 362px;
    width: 100%;
    border-radius: 24px;
}

.blog__item-heading {
    margin-top: 28px;
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 154.545%;
}

.blog__item-desc.clip-text {
    --line-clamp: 3;
}

.blog__item-desc {
    margin-top: 16px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 171.429%;
}

/* =================================Footer=========================== */

.footer {
    margin-top: 130px;
    background: linear-gradient(to right, #fff6ed 41%, var(--bg-primary) 41%);
}

.footer__inner {
    display: flex;
    position: relative;
    padding-bottom: 114px;
}

.footer__left {
    width: 41%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-form {
    position: relative;
    margin-top: 40px;
    display: flex;
    align-items: center;
    width: 268px;
    height: 46px;
    border: 1px solid rgba(255, 91, 46, 0.25);
    border-radius: 23px;
    background: #fff;
}

.search-form__input {
    padding: 0 22px;
    border-radius: 23px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

.search-form__input::placeholder {
    opacity: 0.6;
    font-size: 1.2rem;
}

.search-form__submit {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 223px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff5b2e;
    border: none;
    border-radius: 50%;
}

.contact-box {
    margin-top: 68px;
}

.contact__follow {
    color: #000958;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
}

.contact__list {
    margin-top: 16px;
    display: flex;
    gap: 0 16px;
}

.contact__platform {
    color: #4d538b;
    width: 32px;
    height: 32px;
    background: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.contact__platform:hover {
    color: #fff;
    background: #4d538b;
}

.footer__right {
    padding: 52px 0 48px 129px;
    display: grid;
    width: 59%;
    grid-template: auto auto / 1fr 1fr;
    row-gap: 58px;
}

.footer__title {
    margin-bottom: 14px;
    color: #000958;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 111.111%;
}

.footer__item,
.footer__item__link {
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 200%;
}

.footer__copy {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 48px;
    color: #656689;
    font-size: 1.2rem;
    font-weight: 400;
}
