* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

:root {
    --bg-primary: #fffaf5;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

/* =========================Common======================== */

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.heading__top {
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

.heading {
    color: #000958;
    font-family: Sora;
    font-size: 5.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 119.231%;
}

.desc {
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 187.5%;
}

.btn {
    padding: 20px 40px;
    border: 1px solid #ff5b2e;
    border-radius: 99px;
}
/* =========================header======================== */

.header {
    background: var(--bg-primary);
    top: 0;
    position: sticky;
    z-index: 1000; /* Đảm bảo nó nằm trên các phần tử khác */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Tạo hiệu ứng đổ bóng */
}

.header__inner {
    padding: 26px 0;
    display: flex;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__item {
    padding: 8px 18px;
}

.navbar__item:hover .navbar__link {
    color: #000958;
}

.navbar__link {
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 100%;
}

.header__action {
    display: flex;
    align-items: center;
}

.header__action__link {
    color: #000958;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 100%;
}

.header__action__link.btn {
    margin-left: 10px;
    padding: 18px 31px;
    border-color: rgba(0, 9, 88, 0.7);
    transition: all 0.3s ease;
}

.header__action__link.btn:hover {
    background: #000958;
    color: #fff;
}

/* =========================Hero======================== */

.hero {
    margin-top: 74px;
}

.hero__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 582px;
    align-items: center;
}

.hero__content {
    width: 43%;
}

.hero__desc {
    margin-top: 24px;
    margin-bottom: 38px;
}

.btn.hero__btn {
    display: inline-flex;
    align-items: center;
    padding: 22px 30px;
    background: #ff5b2e;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 100%;
}

.hero__heading {
    font-size: 6.6rem;
}

.circle {
    margin-left: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.hero__btn:hover {
    opacity: 0.9;
    .circle {
        transform: translateX(10px);
    }
}

.hero__link {
    padding: 22px 30px;
    margin-left: 2px;
    color: #000958;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 100%;
    transform: opacity 0.3s ease;
}

.hero__link:hover {
    opacity: 0.9;
}

.hero__img-wrap {
    position: absolute;
    top: 0;
    left: 0;
}

.hero__img {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 388px;
    height: 488px;
    background: #fe997b;
    border-radius: 16px;
    border: 3px solid #fff;
}

.hero__decor {
    z-index: 0;
    position: absolute;
    left: -58px;
    top: 247.5px;
}

.hero__decor:last-child {
    top: 17px;
    left: 376px;
}

.hero__img__dog {
    width: 186px;
    height: 244px;
    border-radius: 16px;
    background: #faa7ad;
    top: 302px;
    left: 365px;
}

.hero__card {
    padding: 18px 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 426px;
    left: 129.5px;
    z-index: 3;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero__card__item {
    display: flex;
}

.card__img {
    margin-right: 9px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #fec23f;
}

.card__img2 {
    background: #6597c2;
}

.card__line {
    margin-top: 7px;
    width: 118px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.card__line:last-child {
    margin-top: 6px;
    width: 39px;
}

.hero__separate {
    width: 222px;
    height: 2px;
    background: #f2f2f2;
}

/* =========================About======================== */

.about {
    margin-top: 77px;
}

.about__inner {
    padding: 53px 0;
    display: grid;
    grid-template: auto auto / 1fr 1fr;
    align-items: center;
}

.about__heading {
    max-width: 446px;
}

.about__desc {
    margin-top: 24px;
    max-width: 431px;
}

.about__check-list {
    margin-top: 57px;
    display: grid;
    grid-template: auto auto / auto auto;
    justify-content: start;
    gap: 40px 36px;
}

.about__check-item {
    padding-left: 34px;
    position: relative;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 100%;
}

.about__check-item::before {
    position: absolute;
    top: -3px;
    left: 0;
    content: url(/assets/img/stick.svg);
}

.about__media {
    position: relative;
}

.about__card {
    top: 165px;
    position: absolute;
    padding: 31px 26px;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__card--title {
    color: #fff;
    font-family: Sora;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.about__card-desc {
    margin-top: 14px;
    color: #c6f4f9;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 142.857%;
}

.about__card-decor {
    position: absolute;
    top: -39px;
    right: -33px;
}

.about__img-wrap {
    height: 559px;
}

.about__img {
    width: 450px;
    position: absolute;
    bottom: 0;
    left: 115px;
    display: block;
    margin: 0 auto;
}

.about__img-wrap::after {
    margin-left: 92px;
    position: absolute;
    bottom: 0;
    z-index: -1;
    content: "";
    display: inline-block;
    width: 494px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}
